# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dtnuwjtt3
CLOUDINARY_UPLOAD_PRESET=ADK_preset
CLOUDINARY_UPLOAD_URL=https://api.cloudinary.com/v1_1/dtnuwjtt3/image/upload

# API Configuration
API_BASE_URL=http://localhost:8000/api/v1
