<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:label="ADK"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter normal theme -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- ===================================================== -->
            <!-- CUSTOM SCHEME DEEP LINKS -->
            <!-- ===================================================== -->
            <!-- Handles:
                 adkpartner://signup?ref=CODE&leg=LEFT
                 adkpartner://open?type=wishlist&token=ABC123
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="adkpartner" />
            </intent-filter>

            <!-- ===================================================== -->
            <!-- AMPLIFY APP LINKS (Independent Verification) -->
            <!-- ===================================================== -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" android:host="master.d1yeg5lmbstgw1.amplifyapp.com" />
                <data android:scheme="http" android:host="master.d1yeg5lmbstgw1.amplifyapp.com" />
                
                <!-- Match any path under /members -->
                <data android:pathPrefix="/members" />
            </intent-filter>

            <!-- ===================================================== -->
            <!-- PRODUCTION DOMAIN APP LINKS -->
            <!-- ===================================================== -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" android:host="www.offerlifetime.com" />
                <data android:scheme="http" android:host="www.offerlifetime.com" />
                <data android:scheme="https" android:host="offerlifetime.com" />

                <data android:pathPrefix="/signup" />
                <data android:pathPrefix="/wishlist" />
                <data android:pathPrefix="/w" />
            </intent-filter>

        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Text processing support -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>